@{
    ViewData["Title"] = "Home Page";
}
@model Website.Models.User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click  <a asp-controller="User" asp-action="UserForm" class = "btn btn-primary " role="button"> Here </a> to SignUp </p> 
    <p>Click  <a asp-controller="User" asp-action="LogIn" class = "btn btn-secondary " role="button" > Here </a> to Login </p> 
    
</div>
